body {
  background: #36393E;
  font-family: monospace;
  color: #fffdd0;
  text-align: left;
}

h1 {
  margin-top: 5px;
  color: #fffdd0;
  font-size: 22px;
  line-height: 1;
}
  
  a:link {color:#3A87AD;}     
  a:visited {color:#3A87AD;}  
  a:hover {color:#3A87AD;}  
  a:active {color:#3A87AD;} 

