<!doctype html>
<html>
    <head>
        <title>
            pfurl.me - url shortener
        </title>
        <style>
            body {
              background: #36393E;
              font-family: monospace;
              color: #fffdd0;
              text-align: left;
            }

            h1 {
              margin-top: 5px;
              color: #fffdd0;
              font-size: 22px;
              line-height: 1;
            }
  
            a:link {color:#3A87AD;}     
            a:visited {color:#3A87AD;}  
            a:hover {color:#3A87AD;}  
            a:active {color:#3A87AD;} 
        </style>
    </head>
    <body>
        <pre>
################################################################################
######                                                                    ######
###                                                                          ###
#                                                                              #
#                       __            _                                        #
#                _ __  / _|_   _ _ __| |  _ __ ___   ___                       #
#               | '_ \| |_| | | | '__| | | '_ ` _ \ / _ \                      #
#               | |_) |  _| |_| | |  | |_| | | | | |  __/                      #
#               | .__/|_|  \__,_|_|  |_(_)_| |_| |_|\___|                      #
#               |_|                                                            #
#                          A simple url shortener.                             #
#                                                                              #
################################################################################
#                                                                              #
#   0x00 | Table of Contents                                                   #
#   =======================================================================    #
#   0x01 | Usage                                                               #
#   0x02 | Contact and report issues                                           #
#                                                                              #
###                                                                          ###
######                                                                    ######
################################################################################                                    


> x/s &0x01    

Usage:
 
    POST to http://pfurl.me and receive a shortened URL.

    $ curl -X POST -d '{"url": "http://www.packetfire.org"}' pfurl.me

    The POST will return a link resembling <a href="http://pfurl.me/l43iJj">http://pfurl.me/l43iJj</a> 
    that will redirect to your URL.

    In addition to the API, located <a href="http://pfurl.me/up">here</a>. 
    An alternative route is availabe with a simple user interface to input and receive a URL.


------------------

> x/s &0x02

Contact and Complain:

   Note: This is a work in progress, and pre-alpha. Things WILL change, things
   will break.

   If you run into problems, or have a new feature request, please raise
   an issue at <a href="https://github.com/Packetfire/pfurl.me/">https://github.com/Packetfire/pfurl.me</a>.

   Additional information about packetfire can be found at  <a href="http://packetfire.org">http://packetfire.org</a>.

   <a href="mailto:Tiksi@packetfire.org">Tiksi@packetfire.org</a>
   <a href="mailto:ncatelli@packetfire.org">ncatelli@packetfire.org</a>
   <a href="mailto:wired@packetfire.org">wired@packetfire.org</a>
       </pre>
    </body>
</html>